body {
  background-color: rgb(208, 208, 208);
}
* {
  font-family: Vazirmatn;
}
@font-face {
  font-family: Vazirmatn;
  src: url("Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 900;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.col {
  height: 120vh;
  background-color: #fff;
  width: inherit;
}
.input-header {
  background-color: #8469c9;
  color: #fff;
  padding: 17px;
  margin-top: -21px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bottom button {
  position: relative;
  top: -11px;
  right: -186px;
  color: #472f83;
  background-color: #fff;
  font-size: 44pt;
  border: none;
  width: 67px;
  border-radius: 50px;
  font-weight: bold;
}
.btn-check {
  color: #fff;
  background-color: #955b95;
  border: none;
  width: 55px;
  height: 31px;
  font-size: 8px;
}

.btn-delete {
  color: #fff;
  background-color: #695b95;
  border: none;
  margin: 0 5px;
  width: 55px;
  height: 31px;
  font-size: 8px;
}
.reminder {
  width: 420px;
  height: 50px;
  border: 1px solid #aba0c5;
  color: #000;
  background-color: #fff;
  list-style: none;
  line-height: 50px;
  margin: 5px auto;
  position: relative;
  right: 12px;
  padding: 10px;
  padding-top: 0px;

  display: -webkit-inline-box;
  box-shadow: rgba(0, 0, 0, 0.15) 1.5px 1.5px 2px;
}
.actions {
  position: relative;
  right: -23px;
}
.text {
  width: 280px;
  line-height: 2;
  font-size: 15px;
}
.text.checked {
  text-decoration: line-through;
  text-decoration-color: red;
}
.bottom {
  color: #000;
  background-color: #472f83;
  padding: 28px;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  position: relative;
  bottom: 124px;
}
.date {
  line-height: 15px;
  font-size: 15px;
  opacity: 70%;
}

.description {
  width: -webkit-fill-available;
}
.top-row {
  display: flex;
  margin-top: 20px;

  top: 12px;
  justify-content: space-around;
}
.input-section {
  max-width: 86%;
  margin: auto;
}
.indate,
.inmoney {
  width: 50%;
}
.description,
.indate,
.inmoney {
  line-height: 38px;
  margin: 10px;
  text-align: right;
  border-width: 0px;
  padding: 0px 5px 0px 0px;
}
.save-btn {
  width: 35%;
  padding: 10px;
  margin: 10px;
}

@media (max-width: 800px) {
  .bottom button {
    position: relative;
    top: -9px;
    right: -125px;
    font-size: 44pt;
    width: 67px;
  }
  .reminder {
    width: 325px;
    line-height: 50px;
    position: relative;
    right: 29px;
    padding-top: 0px;
  }
  .actions {
    position: relative;
    right: -15px;
  }

  .text {
    width: 197px;
    line-height: 2;
  }
}
