body {
  background-color: rgb(208, 208, 208);
}
* {
  font-family: Vazirmatn;
}
@font-face {
  font-family: Vazirmatn;
  src: url("./fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 900;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.col {
  height: 120vh;
  background-color: #fff;
  width: inherit;
}
.input-header {
  background-color: #8469c9;
  color: #fff;
  padding: 17px;
  margin-top: -21px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: sticky;
  top: 0;
}
.btn-check:hover,
.btn-delete:hover {
  opacity: 50%;
}
.btn-check,
.btn-delete {
  color: #8469c9;
  font-size: 25px;
  background: none;
  border: none;
}
.reminder {
  width: 90%;
  height: 100%;
  border: 1px solid #aba0c5;
  color: #000;
  background-color: #fff;
  display: -webkit-inline-box;
  line-height: 90px;
  box-shadow: rgb(0 0 0 / 15%) 1.5px 1.5px 2px;
}
.text {
  width: 280px;
  line-height: 2;
  font-size: 15px;
}
.text.checked {
  text-decoration: line-through;
  text-decoration-color: red;
}

.date {
  line-height: 15px;
  font-size: 15px;
  opacity: 70%;
}

.description {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}
.top-row {
  display: flex;
  margin-top: 20px;

  top: 12px;
  justify-content: space-around;
}
.input-section {
  max-width: 86%;
  margin: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.indate,
.inmoney {
  width: 50%;
}
.description,
.indate,
.inmoney {
  line-height: 38px;
  margin: 10px;
  text-align: right;
  border-width: 0px;
  padding: 0px 15px 0px 0px;
  border-radius: 8px;
}
.save-btn {
  width: 35%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  background-color: #fff;
  color: #775abf;
  border: 2px solid #8469c9;
}
.save-btn:hover {
  background-color: #8469c9;
  color: #fff;
  border: 2px solid #fff;
}
.caption {
  text-decoration: underline;
  font-size: x-large;
}
